.home {
    padding-top: 10px;
}

.prayer-banner {
    background: url('../img/prayer.png');
    margin-bottom: 20px;
    background-size: cover;
    height: 144px;
    padding: 20px 5px 20px 20px;

    .azan {
        font-family: $almarai-bold;
        color: $white;

        .type {
            font-size: 18px;
        }

        .clock-time {
            font-size: 48px;

            .sub {
                font-size: 14px;
                font-family: $almarai;

            }
        }

        .more-time {
            font-size: 12px;
            font-family: $almarai;

        }
    }
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .user-image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        margin-#{$right}: 10px;

        img {
            max-width: 100%;
            object-fit: cover;

        }
    }

    .user-text {
        font-size: 16px;

        p {
            color: $text-color-dark;
            font-size: 13px;
        }

        .name {
            font-size: 16px;
        }
    }
}

.notification {
    position: relative;

    .noti-num {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: $brand-color;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 3px;
        font-size: 11px;
        font-family: $almarai-bold;
    }
}