.header {
    position: fixed;
    padding: 15px 20px;
    width: 100%;
    z-index: 2;

    img {
        @at-root {
            [data-theme="light"] & {
                filter: contrast(0) brightness(0);
            }
        }

    }

}