.mobile-wrapper {
    margin: 0 auto;
    position: relative;
    z-index: 1;
    padding: 0 20px;
    overflow: auto;
    max-height: 100%;

    .splash-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    &.with-nav {
        margin-top: 90px;
        padding-bottom: 20px;
        max-height: calc(100% - 90px);

    }

    &.with-menu {
        padding-bottom: 150px;
        margin-top: 44px;
    }

    &.with-gallery {
        background-size: 100% 280px;
        background-repeat: no-repeat;
        height: 100%;
        padding: 90px 0 0;

        @at-root {
            [data-theme="light"] & {
                background-image: url('../img/album-6.jpg') !important;
            }
        }

        .gallary-content {
            padding: 0 20px;
            overflow: auto;
            max-height: 100%;
            padding-bottom: 20px;
        }
    }

    &.settings-wrapper {
        padding-bottom: 220px;
        margin-top: 100px;
    }
}

.sepretor-title {
    position: relative;
    display: flex;

    &::after {
        flex: 1 0 0%;
        content: "";
        height: 1px;
        background-color: #525252;
        display: inline-block;
        margin-#{$left}: 20px;
        top: 9px;
        position: relative;

    }

    &::before {
        flex: 1 0 0%;
        content: "";
        height: 1px;
        background-color: #525252;
        display: inline-block;
        margin-#{$right}: 20px;
        top: 9px;
        position: relative;
    }
}

// fixed-to-bottom

.fixed-to-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 50px;
    left: 0;
}