.mobile-wrapper {
    max-width: 375px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    background: url('../img/Vector.png');
    background-repeat: no-repeat;
    background-position: 0 -10px;

    .splash-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
}