.navigator {
    padding: 62px 5px;
    padding-bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 2;

    svg,
    path {
        @at-root {
            [data-theme="light"] & {
                stroke: #000;
            }
        }


    }

    .col-2 {
        svg {
            @at-root {
                [data-dir="rtl"] & {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .magnific {
        @at-root {
            [data-dir="rtl"] & {
                transform: rotate(180deg);
            }
        }
    }
}