.select-lang-form {
    padding-top: 75px;

    .m-title {
        color: #9F9F9F;
        font-size: calcRem(18);
        font-family: $almarai-bold;
        text-align: center;
        margin-bottom: 32px;
    }

    .custom-radio-check {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }

        input {
            display: none;

            &:checked {
                &~.row {
                    .cricle-check {
                        background-color: $brand-color;

                        svg {
                            display: block;
                        }
                    }
                }
            }
        }

        .label {
            border: 1px solid var(--dark3-bg);
            background: var(--dark3-bg);
            padding: 15px;
            width: 100%;
            border-radius: $border-radius;
            box-shadow: 0px 0px 20px #0000001a;

            .cricle-check {
                height: 30px;
                width: 30px;
                background: #121210;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 5px;

                @at-root {
                    [data-theme="light"] & {
                        background: #646464;
                    }
                }

                svg {
                    display: none;
                }

            }
        }


    }
}

.select-form {
    @extend .select-lang-form;
}