.form-label {
    color: var(--text-color);
    font-size: calcRem(14);
}

.form-control {
    height: calc(2.88rem + 2px);
    padding: 0.475rem .75rem;
    border: 1px solid #bcbbbb;
    border-radius: $border-radius;
    background-color: var(--body-bg);
    color: #9F9F9F;
    font-size: calcRem(14);

    &:focus {
        border-color: $brand-color;
        box-shadow: 0 0 0 0.2rem $brand-color;
        background-color: var(--dark3-bg);
        color: #9F9F9F;
    }

}

// custom-input-with-select

.custom-input-with-select {
    position: relative;

    input {
        padding-#{$right}: 75px;
    }

    select {
        position: absolute;
        bottom: 0;
        #{$right}: 0;
        width: 70px;
        border: none;
        background: transparent;
        -webkit-appearance: auto;
        -moz-appearance: auto;
        appearance: auto;
        text-align: $right;
        padding-right: 0px;
        margin-right: 10px;
        color: var(--text-color);

        option {
            color: $black;
        }

        &:focus {
            border-color: none;
            box-shadow: none;
            background-color: transparent;
            color: $white;
        }

    }
}

// custom-input-password-show

.custom-input-password-show {

    position: relative;

    .show-pw-icon {
        position: absolute;
        bottom: 5px;
        #{$right}: 5px;
        padding: 10px;

        &.active {
            &::after {
                position: absolute;
                content: "/";
                #{$right}: 15px;
                top: 10px;
                font-size: 19px;
                color: #9F9F9F;
            }
        }
    }
}

// OTP Design
.otp-field {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        height: 50px;
        background-color: transparent;
        border: 1px solid $brand-color;
        border-radius: 10px;
        width: 74px;
        color: $brand-color;
        font-size: 18px;
        font-family: $almarai-bold;
        text-align: center;
        margin: 0 7px;

        &:focus {
            border-color: $brand-color;
            box-shadow: 0 0 0 0.2rem $brand-color;
            background-color: var(--dark3-bg);

            color: #9F9F9F;
            outline: none;
        }
    }

    [placeholder]:focus::-webkit-input-placeholder {
        transition: opacity 0.5s 0.0s ease;
        opacity: 0;
    }
}


// 



.form-switch .form-check-input:focus {
    box-shadow: none;
    background-image: url('../img/toggle-radio-white.svg');
    border: none;
    background-size: 20px 40px;
}

.form-switch .form-check-input {
    background-image: url('../img/toggle-radio-white.svg');
    background-color: #525252;
    height: 24px;
    width: 40px;
    background-size: 20px 40px;

    &:checked {
        background-color: $brand-color;
        border-color: $brand-color;
        background-size: 20px 40px;
    }
}

[type=email], [type=number], [type=tel], [type=url] {
    @at-root {
        [data-dir="rtl"] & {
            direction: rtl!important;
        }
    }
}