.form-label {
    color: var(--text-color);
    font-size: calcRem(14);
}

.form-control {
    height: calc(2.88rem + 2px);
    padding: 0.475rem .75rem;
    border: 1px solid #bcbbbb;
    border-radius: $border-radius;
    background-color: var(--body-bg);
    color: #9F9F9F;
    font-size: calcRem(14);

    &:focus {
        border-color: $brand-color;
        box-shadow: 0 0 0 0.2rem $brand-color;
        background-color: var(--dark3-bg);
        color: #9F9F9F;
    }

}

// custom-input-with-select

.custom-input-with-select {
    position: relative;

    input {
        padding-#{$right}: 75px;
    }

    select {
        position: absolute;
        bottom: 0;
        #{$right}: 0;
        width: 70px;
        border: none;
        background: transparent;
        -webkit-appearance: auto;
        -moz-appearance: auto;
        appearance: auto;
        text-align: $right;
        padding-right: 0px;
        margin-right: 10px;
        color: var(--text-color);

        option {
            color: $black;
        }

        &:focus {
            border-color: none;
            box-shadow: none;
            background-color: transparent;
            color: $white;
        }

    }
}

// custom-input-password-show

.custom-input-password-show {

    position: relative;

    .show-pw-icon {
        position: absolute;
        bottom: 5px;
        #{$right}: 5px;
        padding: 10px;

        &.active {
            &::after {
                position: absolute;
                content: "/";
                #{$right}: 15px;
                top: 10px;
                font-size: 19px;
                color: #9F9F9F;
            }
        }
    }
}

// OTP Design
.otp-field {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        height: 50px;
        background-color: transparent;
        border: 1px solid $brand-color;
        border-radius: 10px;
        width: 74px;
        color: $brand-color;
        font-size: 18px;
        font-family: $almarai-bold;
        text-align: center;
        margin: 0 7px;

        &:focus {
            border-color: $brand-color;
            box-shadow: 0 0 0 0.2rem $brand-color;
            background-color: var(--dark3-bg);

            color: #9F9F9F;
            outline: none;
        }
    }

    [placeholder]:focus::-webkit-input-placeholder {
        transition: opacity 0.5s 0.0s ease;
        opacity: 0;
    }
}


// 



.form-switch .form-check-input:focus {
    box-shadow: none;
    background-image: url('../img/toggle-radio-white.svg');
    border: none;
    background-size: 20px 40px;
}

.form-switch .form-check-input {
    background-image: url('../img/toggle-radio-white.svg');
    background-color: #525252;
    height: 24px;
    width: 40px;
    background-size: 20px 40px;

    &:checked {
        background-color: $brand-color;
        border-color: $brand-color;
        background-size: 20px 40px;
    }
}

[type=email],
[type=number],
[type=tel],
[type=url] {
    @at-root {
        [data-dir="rtl"] & {
            direction: rtl !important;
        }
    }
}

.custom-range {
    input[type="range"] {
        color: $brand-color;
        --thumb-height: 1.125em;
        --track-height: 0.125em;
        --track-color: rgba(0, 0, 0, 0.2);
        --brightness-hover: 180%;
        --brightness-down: 80%;
        --clip-edges: 0.125em;

        &:hover {
            color: $brand-color;
        }

        @at-root {
            [data-dir="rtl"] & {
                transform: rotate(180deg);
                direction: ltr;
            }
        }
    }


    @media (prefers-color-scheme: dark) {
        html {
            background-color: #000;
        }

        html::before {
            background: radial-gradient(circle at center, #101112, #000);
        }

        input[type="range"] {
            color: #f07167;
            --track-color: rgba(255, 255, 255, 0.1);
        }
    }

    /* === range commons === */
    input[type="range"] {
        position: relative;
        background: #fff0;
        overflow: hidden;
    }

    input[type="range"]:active {
        cursor: grabbing;
    }

    input[type="range"]:disabled {
        filter: grayscale(1);
        opacity: 0.3;
        cursor: not-allowed;
    }

    /* === WebKit specific styles === */
    input[type="range"],
    input[type="range"]::-webkit-slider-runnable-track,
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        transition: all ease 100ms;
        height: var(--thumb-height);
    }

    input[type="range"]::-webkit-slider-runnable-track,
    input[type="range"]::-webkit-slider-thumb {
        position: relative;
    }

    input[type="range"]::-webkit-slider-thumb {
        --thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
        --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
        --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
        --clip-further: calc(100% + 1px);
        --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0 100vmax currentColor;

        width: var(--thumb-width, var(--thumb-height));
        background: linear-gradient(currentColor 0 0) scroll no-repeat left center / 50% calc(var(--track-height) + 1px);
        background-color: currentColor;
        box-shadow: var(--box-fill);
        border-radius: var(--thumb-width, var(--thumb-height));

        filter: brightness(100%);
        clip-path: polygon(100% -1px,
                var(--clip-edges) -1px,
                0 var(--clip-top),
                -100vmax var(--clip-top),
                -100vmax var(--clip-bottom),
                0 var(--clip-bottom),
                var(--clip-edges) 100%,
                var(--clip-further) var(--clip-further));
    }

    input[type="range"]:hover::-webkit-slider-thumb {
        // filter: brightness(var(--brightness-hover));
        cursor: grab;
    }

    input[type="range"]:active::-webkit-slider-thumb {
        filter: brightness(var(--brightness-down));
        cursor: grabbing;
    }

    input[type="range"]::-webkit-slider-runnable-track {
        background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center / 100% calc(var(--track-height) + 1px);
    }

    input[type="range"]:disabled::-webkit-slider-thumb {
        cursor: not-allowed;
    }

    /* === Firefox specific styles === */
    input[type="range"],
    input[type="range"]::-moz-range-track,
    input[type="range"]::-moz-range-thumb {
        appearance: none;
        transition: all ease 100ms;
        height: var(--thumb-height);
    }

    input[type="range"]::-moz-range-track,
    input[type="range"]::-moz-range-thumb,
    input[type="range"]::-moz-range-progress {
        background: #fff0;
    }

    input[type="range"]::-moz-range-thumb {
        background: currentColor;
        border: 0;
        width: var(--thumb-width, var(--thumb-height));
        border-radius: var(--thumb-width, var(--thumb-height));
        cursor: grab;
    }

    input[type="range"]:active::-moz-range-thumb {
        cursor: grabbing;
    }

    input[type="range"]::-moz-range-track {
        width: 100%;
        background: var(--track-color);
    }

    input[type="range"]::-moz-range-progress {
        appearance: none;
        background: currentColor;
        transition-delay: 30ms;
    }

    input[type="range"]::-moz-range-track,
    input[type="range"]::-moz-range-progress {
        height: calc(var(--track-height) + 1px);
        border-radius: var(--track-height);
    }

    input[type="range"]::-moz-range-thumb,
    input[type="range"]::-moz-range-progress {
        filter: brightness(100%);
    }

    input[type="range"]:hover::-moz-range-thumb,
    input[type="range"]:hover::-moz-range-progress {
        filter: brightness(var(--brightness-hover));
    }

    input[type="range"]:active::-moz-range-thumb,
    input[type="range"]:active::-moz-range-progress {
        filter: brightness(var(--brightness-down));
    }

    input[type="range"]:disabled::-moz-range-thumb {
        cursor: not-allowed;
    }

}

.search-icon {
    position: absolute;
    top: 15px;
    #{$right}: 10px;
}