.gallery-carousel {
    width: 100%;
    height: 100%;
    padding: 10px 0;


    .swiper-slide {
        width: 123px;
        height: 141px;
        border-radius: 10px;

    }
}

.gallery-item {
    width: 100%;
    height: 100%;
    background-color: var(--dark3-bg);
    display: block;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #0000001a;

    &:focus,
    &:active,
    &:hover {
        text-decoration: none;

    }

    .gallery-img {
        height: 80px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;

        .gallery-img-overlay {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            background-color: $brand-color;


            svg,
            path {
                fill: #fff;
            }

        }
    }

    .gallery-text {
        padding: 10px;

        .title {
            color: var(--text-color);
            font-size: 13px;
        }

        .numbers {
            color: #9F9F9F;
            font-size: 11px;
            margin-top: 5px;
        }
    }
}

.gallary-album {
    .gallary-album-item {
        width: 100%;
        height: 141px;
        display: block;
        box-shadow: 0px 0px 10px #0000001a;

        img {
            height: 100%;
            border-radius: 10px;
            max-width: 100%;
            object-fit: cover;
        }
    }
}

.carousel__button.is-close {
    right: auto;
}