.loader {
    background-color: var(--dark3-bg);
    position: fixed;
    width: 100%;
    bottom: 0;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @at-root {
        [data-theme="light"] & {
            circle {
                fill: #000;
            }
        }
    }
}