.more-item {
    box-shadow: 0px 0px 20px #0000001a;
    width: 100%;
    background: var(--dark3-bg);
    padding: 15px;
    border-radius: $border-radius;
    height: 100px;
    text-align: center;
    a {
        color: var(--text-color)
    }

    .title {
        @include line-clamp(2);
        margin-top: 10px;
    }
}