.profile-setting {
    margin-top: 30px;

    .item {
        box-shadow: 0px 0px 20px #0000001a;
        width: 100%;
        background: var(--dark3-bg);
        border-radius: $border-radius;
        margin-bottom: 15px;

        a,
        .item-content {
            color: var(--text-color);
            padding: 20px;
            display: block;
            text-decoration: none;

            .title {
                line-height: 1;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        .col-auto {
            svg {
                @at-root {
                    [data-theme="light"] & {
                        filter: brightness(0);
                    }
                }
            }
        }

        .col-auto {
            svg {
                @at-root {
                    [data-dir="rtl"] & {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}