.profile-setting {
    margin-top: 30px;

    .item {
        box-shadow: 0px 0px 20px #0000001a;
        width: 100%;
        background: var(--dark3-bg);
        border-radius: $border-radius;
        margin-bottom: 15px;

        a {
            color: var(--text-color);
            padding: 20px;
            display: block;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}